# Requisitos base para análisis de datos
pandas
numpy
matplotlib
seaborn
scikit-learn
statsmodels
openpyxl
plotly
ipywidgets
dotenv
requests
lxml
html5lib


# Para notebooks en VS Code
jupyterlab
ipykernel